.carousel-caption{
    margin-bottom: 143px;
}
.fr-icon {
    font-size: 65px;
}
.free-service {
    width: 326px;
    
}

.free-service:hover{
    background-color: rgba(221, 221, 221, 0.767)!important;
    transition: 0.5s;
}